@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

@mixin arrow($size: 24px, $color: 'rgb(25,25,25)') {
  display: block;
  width: $size;
  height: $size;
  background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 96 960 960" fill="#{$color}"><path d="M561 816 320 575l241-241 43 43-198 198 198 198-43 43Z"/></svg>')
    50% 50% no-repeat;
  background-size: $size $size;
}

.calendar-area {
  font-family: 'Roboto', 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  width: 100%;
  display: flex;
  flex-flow: column;
  font-size: 14px;
  color: rgb(25, 25, 25);
}

.calendar-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  [class^='btn-date'] {
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s ease;
    &:hover,
    &:active {
      background-color: rgba(13, 110, 253, 0.1);
      border-color: rgba(13, 110, 253, 0.1);
      .arrow {
        @include arrow(24px, rgb(13, 110, 253));
      }
    }
  }
  .arrow {
    @include arrow;
  }
  .btn-date-rt {
    .arrow {
      transform: rotate(180deg);
    }
  }
}

.calendar {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1;

  td {
    border: 1px solid #ddd;
  }
  thead {
    td {
      text-align: center;
      padding: 5px;
    }
  }
  tbody {
    td {
      position: relative;
      &.text-light {
        color: rgba(0, 0, 0, 0.2);
      }
      &.today {
        background-color: rgba(13, 110, 253, 0.1);
        .date {
          color: #0d6efd;
        }
      }
    }
  }
  .date {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50em;
    background-color: transparent;
  }
  .calendar-panel {
    width: 100%;
    height: 100%;
    min-height: 150px;
  }
}
