@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

.calendar-area {
  font-family: 'Roboto', 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  width: 100%;
  display: flex;
  flex-flow: column;
  font-size: 14px;
}

.calendar-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  button {
    margin: 0 10px;
  }
}

.calendar {
  border-collapse: collapse;
  border-spacing: 0;

  td {
    border: 1px solid #ddd;
  }
  thead {
    td {
      text-align: center;
      padding: 5px;
    }
  }
  .date-panel {
    position: relative;
    min-height: 100px;
  }
  .date {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.text-prev {
      color: rgba(0, 0, 0, 0.2);
    }
    &.today {
      border-radius: 50em;
      background-color: #0d6efd;
      color: #fff;
    }
  }
}
